/* Font Family */
body {
    font-family: 'Montserrat';
}

@media only screen and (max-width: 768px) {
    .hero_section {
        height: 50vh;
    }

    .hero_img {
        bottom: 42vh;
        left: 50vw;
        height: 250px;
        z-index: -1;
    }
}

@media only screen and (min-width: 768px) {
    .hero_section {
        height: 75vh;
    }
    .hero_img {
        bottom: 18vh;
        left: 45vw;
        height: 300px;
        z-index: -1;
    }
}


/* Accordian Styling */
.accordian_text {
    height: 10vh;
}

.accordion-collapse {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

/* Image Color on Hover */
.profile_hover_div img,
div {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.profile_hover_div img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.profile_hover_div :hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.name_hover_div {
    width: 100%;
    top: 80%;
    background-color: rgba(232, 232, 232, 0.75);
}

/* Testimonials */

.testimonial_selected_cards {
    background-color: #E74040;
    transition: all 0.2s;
    -webkit-transition: all 0.2s !important;
    -moz-transition: all 0.2s;
}

.testimonial_selected_cards .h5 {
    color: white;
    transition: all 0.2s;
    -webkit-transition: all 0.2s !important;
    -moz-transition: all 0.2s;
}

.testimonial_selected_cards .p {
    color: white;
    transition: all 0.2s;
    -webkit-transition: all 0.2s !important;
    -moz-transition: all 0.2s;
}

.testimonial_unselected_card {
    color: black;
    background-color: white;
}

/* .testimonial_unselected_card :hover {
    background-color: #f1f1f1;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
} */

/* Animating Navigation Bar */
.collapsing {
    transition-property: height, visibility;
    transition-duration: .2s;
}

/*       Scrool Bar Styling      */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}