/* Accordian Styling */
.accordian_text {
    height: 10vh;
}

.accordion-collapse {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

/* Image Color on Hover */
.profile_hover_div img, div {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.profile_hover_div img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.profile_hover_div :hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.name_hover_div {
    width: 100%;
    top: 80%;
    background-color: rgba(232, 232, 232, 0.75);
}

/* Testimonials */
.testimonial_selected_cards {
    background-color: #E74040;
    color: #f1f1f1;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.testimonial_unselected_card :hover {
    background-color: #f1f1f1;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}


/* Animating Navigation Bar */
/* @media (prefers-reduced-motion: reduce) {
    
} */
.collapsing {
    transition-property: height, visibility;
    transition-duration: .2s;
}

/*       Scrool Bar      */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}